[package]
name = "bmvm-host"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
nix = { version = "0.30.1", features = ["mman"] }
goblin = "0.9.2"
kvm-ioctls = "0.22.0"
kvm-bindings = "0.12.0"

bmvm-common = {path = "../bmvm_common", features = ["std"]}
bmvm-macros = {path = "../bmvm_macros"}
