[package]
name = "plotty"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
anyhow = "1.0.99"
walkdir = "2.5.0"
clap = { version = "4.5.40", features = ["derive", "env"] }